html{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

li {
    display: inline-block;
    margin: 10px;
}
li a {
    text-decoration-line: none;
    color: white;
}
.wrapper {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 33% 33% 33%;
    background-color: #fff;
    color: #444;
    margin: 20px;
  }

  .box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;

  }

  .a {
    grid-column: 1 / span 2;
  }
  .b {
    grid-column: 3 ;
    grid-row: 1 / span 2;
  }
  .c {
    grid-column: 1 / span 2 ;
    grid-row: 2 ;
  }
  .d {
    grid-column: 1 / span 3 ;
    grid-row: 3 ;
  }

  .e {
    grid-column: 2 / span 2 ;
    grid-row: 4 ;
  }

  .f {
    grid-column: 1 / span 3 ;
    grid-row: 5 ;
  }